<div class="div1" style="background-color: lightgray;">
<div class="container-fluid bg1">

    <div class="topnav">
      <h1><span style="color: rgb(255, 0, 221);">Estone</span><span style="color: white;"></span></h1>
     <a routerLink="/"> Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/contact">Contact</a>
      <a routerLink="/login">Login</a>
    </div>
</div>
    <app-uppercase> </app-uppercase>
 
  <app-lower-case> </app-lower-case>
  <br>

    <div class="container-fluid bg">
 
     
        <div style="text-align: center;">
            <p>© COPYRIGHT 2021 <br><span style="color: rgb(255, 60, 0);"> Bhartinehul.COM.</span> ALL RIGHTS RESERVED.</p>
        </div>
      
      </div>
    </div>
 
